.quiz_card {
    /* background: #7777774b; */
    /* background: rgb(34,193,195);
    background: linear-gradient(13deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
    /* background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
background: rgb(174,215,238);
background: radial-gradient(circle, rgba(174,215,238,1) 0%, rgba(148,187,233,1) 100%);
    padding: 5px;
    margin: 10px;
    /* display: block; */
    /* background-color: rgb(209, 209, 209); */
    /* background-color: white; */
    width: 220px;
    /* height: 140px; */
    color: white;
    border-radius: 5px 10px 10px 20px;
    /* border: ; */
    border-style: solid;
    border-width: 0px;
}


.quiz_card_title {
    font-size: 17pt;
    margin-top: 2px;
    margin-left: 4px;
    /* margin-bottom: -5px; */
}

.quiz_card_description {
    margin-top: -5px;
    font-size: 13pt;
    margin-left: 8px;
    line-height: 1;

}
.quiz_card_btn {
    border-width: 0;
    /* display: block;
     */
     font-size: 14pt;
     background: #1f75c4;
     color: white;
     font-weight: bold;
     margin-left: 5px;
     margin-bottom: 5px;
     width: 60px;
     height: 35px;
     border-radius: 10px 20px 10px 10px;
}

.quiz_card_sum {
    /* display: block; */
    margin-top: 8px;
    margin-bottom: -2px;
    margin-right: 6px;
    float: right;
    font-size: 14pt;
    /* font: optional; */
}